body {
    background-color: #fbfbfb;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#site-header {
    margin-bottom: 40px;
    vertical-align: middle;
}

#site-title {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

#content {
    margin: 5px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#list {
    display: inline;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
        min-width: 150px;
        max-width: 150px;
    }
}
