<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="wrapper">
            {{- partial "sidebar.html" . -}}
            <div id="content" class="container-fluid">
                {{- partial "header.html" . -}}
                {{- block "main" . }}{{- end }}
                {{- partial "script.html" . -}}
            </div>
            {{- partial "footer.html" . -}}
            <!-- Dark Overlay element -->
            <div class="overlay toggle-sidebar"></div>
        </div>
    </body>
</html>
