<nav class="navbar">
    <div class="toggle-sidebar">
        <button type="button" class="header-button" data-feather="menu"></button>
    </div>
    <a href="{{ .Site.BaseURL }}"><h1 id="site-title">{{ .Site.Title }}</h1></a>
    <div class="text-right">
        <a href="/download/CV.pdf"><i data-feather="file-text" class="header-button"></i></a>
        <a href="https://www.linkedin.com/in/{{ $.Site.Params.linkedin }}/"><i data-feather="linkedin" class="header-button"></i></a>
        <a href="https://github.com/{{ $.Site.Params.github }}/"><i data-feather="github" class="header-button"></i></a>
    </div>
</nav>