<!-- Sidebar -->
<nav id="sidebar" class="navbar active d-lg-block bg-white">
    <div id="close-sidebar">
        <button type="button" class="header-button" data-feather="chevrons-left"></button>
    </div>
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
            {{ end }}
        </div>
        <div class="social-media-buttons social-media-buttons-sidebar pt-5 text-center">
            {{- partial "socialmedia.html" . -}}
        </div>
    </div>
</nav>